.gitignore
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
ps_test
ret
rett
slave.sh
_ps
*.so
tags
pokerstove
*.bin
cacher
rules.ninja
cachegrind.out*
.ninja_log
.ninja_deps
build.ninja
callgrind.out*
driver
